include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header


    .container
      .row
        .col.s12
          +breadCrumbs('home','my account')
        .col.s12.m3
          ul.o-collapsible.collapsible(data-collapsible="accordion")
            li.o-collapsible__item
              .o-collapsible__header.collapsible-header.active
                |My Account
              .o-collapsible__body.collapsible-body
                ul.default
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear PERSONAL DATA
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear ADDRESSES
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear WISHLIST
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear GALLERY
        .col.s12.m9
          h4.o-account__title MY ACCOUNT: EDIT PERSONAL DATA 
            a(href="#!") (LOG OUT)

          +sectionAcordion('NAME', 'Required Field').o-sectionAcordion__small
            .row
              form.col.s12
                .row
                  .input-field.col.s12
                    input#firstname(type="text").validate
                    label(for="firstname") First Name
                  .input-field.col.s12
                    input#lastname(type="text").validate
                    label(for="lastname") Last Name

          +sectionAcordion('EMAIL/LOGIN INFORMATION', 'Required Field').o-sectionAcordion__small
            .row
              form.col.s12
                .row
                  .input-field.col.s12
                    input#mail(type="email").validate
                    label(for="mail") Emai
                  .input-field.col.s12
                    input#confirm(type="email").validate
                    label(for="confirm") Confirm Email
                  .input-field.col.s12
                    input#pass(type="password").validate
                    label(for="pass") Password
                  .input-field.col.s12
                    input#confirmpass(type="password").validate
                    label(for="confirmpass") Confirm Password
                  .col.s12
                    button.waves-effect.waves-light.btn UPDATE



    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")