include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header

    .u-gray.u-padding__bottom--small
      section.u-padding__top--small
        -
          var categorya = {
            "subtitle":"MI CUENTA"
          };
        +sectionSeparator(categorya).o-sectionSeparator--gray
      .container.u-margin__bottom--large
        .row
          .col.s12.l3
            .o-aside__atribute
              ul.o-collapsible.collapsible(data-collapsible="expandable")
                li.o-collapsible__item
                  .o-collapsible__header.o-collapsible__header--gray.o-collapsible__header--bgray.collapsible-header.active.u-padding__lr--none
                    |Hola, Mariella
                  .o-collapsible__body.collapsible-body
                    ul
                      li.c-listCategory__item
                        a(href="#!") Carrito
                      li.c-listCategory__item
                        a(href="#!") Favoritos
                      li.c-listCategory__item
                        a(href="#!") Historial de órdenes
                      li.c-listCategory__item
                        a(href="#!") Perfil
                      li.c-listCategory__item
                        a(href="#!") Cerrar sesión
          .col.s12.l9
            .row  
              .col.s12
                +sectionAcordion('DETALLES DE DIRECCIÓN A REGISTRAR', '')
                  .row
                    .col.s12
                      p Texto a definir aclarando cualquier detalle para mejorar el proceso de registro de direcciones.
                    .col.s12.l8
                      .row
                        .input-field.col.s12
                          input(id="nickAddress" type="text").validate
                          label(for="nickAddress") *Alias de dirección
                        .input-field.col.s12
                          input(id="nameAddress" type="text").validate
                          label(for="nameAddress") *Nombres
                        .input-field.col.s12
                          input(id="address1" type="text").validate
                          label(for="address1") *Dirección 1
                        .input-field.col.s12
                          input(id="address2" type="text").validate
                          label(for="address2") *Dirección 2
                        .input-field.col.s12
                          select
                            option(value="" disabled selected) *País
                            option(value="1") Perú
                            option(value="2") Mexico
                            option(value="3") España
                        .input-field.col.s12
                          select
                            option(value="" disabled selected) *Estado / Provincia / Región
                            option(value="1") Lima
                            option(value="2") Ica
                            option(value="3") Arequipa
                        .input-field.col.s12
                          input(id="cityAddress" type="text").validate
                          label(for="cityAddress") *Ciudad
                        .input-field.col.s12
                          input(id="zipAddress" type="text").validate
                          label(for="zipAddress") *ZIP Code
                        .input-field.col.s12
                          input(id="phoneAddress" type="text").validate
                          label(for="phoneAddress") *Teléfono
                        .col.s6
                          button.waves-effect.waves-light.btn Cancelar
                        .col.s6.right-align
                          button.waves-effect.waves-light.btn.u-text__black
                            i.right.fas.fa-arrow-right 
                            | Registrar Dirección
                        .col.s12
                          p *Campos requeridos
                

      +sectionSeparator(section).o-sectionSeparator--bgray
        .row
          .col.s12
            section.novedades.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image
                      img(src="source/img/products/" + val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.material-icons local_mall
                        | ahora
                    .c-productNews__info.c-productNews__info--nobottom
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
                      .c-productNews__price
                        span 240

    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")