include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header

    .u-gray.u-padding__bottom--small
      section.u-padding__top--small
        -
          var categorya = {
            "subtitle":"CHECK-OUT"
          };
        +sectionSeparator(categorya).o-sectionSeparator--gray
      .container
        form(action="").row
          .col.s12
            .o-product__tabs.o-product__tabs--gray
              ul.tabs
                li.tab.col.s4
                  a(href="#test1") 
                    span.o-product__tabs--number 1
                    |Dirección de envío
                li.tab.col.s4
                  a(href="#test2")
                    span.o-product__tabs--number 2
                    | Método de envío
                li.tab.col.s4
                  a(href="#test3").active 
                    span.o-product__tabs--number 3
                    | Opciones de pago

            .col.s12.o-product__tab
              #test1.o-product__tab-item.o-product__tab-item--noreset
                .row.u-padding__top--small
                  .col.s12.m7
                    .row
                      .col.s12
                        h5.o-checkout__title Ingrese su 
                          span Información de contacto
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cupiditate, nam. Sunt debitis, odit dicta delectus veniam optio illum modi illo asperiores, sapiente quisquam, sequi minima dolorem nesciunt mollitia vel.
                      .input-field.col.s12
                        input#infoEmail(type="email").validate
                        label(for="infoEmail") *Email
                      .col.s8
                        p REVISA NUESTRAS 
                          a(href="#!") POLÍTICAS DE PRIVACIDAD
                      .col.s4.right-align
                        p
                          input(type="checkbox")#infoSub
                          label(for="infoSub") SUSCRIBIR MI EMAIL A LA LISTA!
                    .row
                      .col.s12
                        h5.o-checkout__title Ingrese su 
                          span Dirección de envío
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cupiditate, nam. Sunt debitis, odit dicta delectus 
                      
                      .col.s12
                        ul.o-collapsible.collapsible(data-collapsible="expandable")
                          li.o-collapsible__item
                            .o-collapsible__header.o-collapsible__header--gray.collapsible-header.o-collapsible__header--bgray.active.u-padding__lr--none
                              |Elija entre las direcciones registradas
                            .o-collapsible__body.collapsible-body
                              ul
                                li.c-listCategory__item
                                  p
                                    input(type="checkbox", id='test-1')
                                    label(for= 'test-1' ) Dirección 1 > MARIELLA ROGGERO > Calle José Gálvez N°15957 asdasdasdasd
                                li.c-listCategory__item
                                  p
                                    input(type="checkbox", id='test-2')
                                    label(for= 'test-2' ) Dirección 2 > MARIELLA ROGGERO > Calle José Gálvez N°15957 asdasdasdasd
                          li.o-collapsible__item
                            .o-collapsible__header.o-collapsible__header--gray.collapsible-header.o-collapsible__header--bgray.active.u-padding__lr--none
                              |o ingrese una dirección nueva
                            .o-collapsible__body.collapsible-body
                              .row
                                .input-field.col.s12
                                  input#addressName(type="text").validate.u-margin__bottom--none
                                  label(for="addressName") *Nombre
                                .input-field.col.s12
                                  input#addressLastName(type="text").validate.u-margin__bottom--none
                                  label(for="addressLastName") *Apellidos
                                .input-field.col.s12
                                  input#addressComp(type="text").validate.u-margin__bottom--none
                                  label(for="addressComp") Compañia/Empresa
                                .input-field.col.s12
                                  input#address(type="text").validate.u-margin__bottom--none
                                  label(for="address") *Dirección 1
                                .input-field.col.s12
                                  input#addressMain(type="text").validate.u-margin__bottom--none
                                  label(for="addressMain") *Dirección 2
                                .input-field.col.s6
                                  select.u-margin__bottom--none
                                    option(value="" disabled selected) *País
                                    option(value="1") Peru
                                    option(value="2") Brasil
                                    option(value="3") Chile
                                    option(value="4") Argentina
                                .input-field.col.s6
                                  select.u-margin__bottom--none
                                    option(value="" disabled selected) *Estado/Provincia/Región
                                    option(value="1") Lima
                                    option(value="2") Brasil
                                    option(value="3") Chile
                                    option(value="4") Argentina
                                .input-field.col.s6
                                  input#addressCity(type="text").validate.u-margin__bottom--none
                                  label(for="addressCity") *Ciudad
                                .input-field.col.s6
                                  input#addressZip(type="text").validate.u-margin__bottom--none
                                  label(for="addressZip") *ZIP code
                                .input-field.col.s6
                                  input#addressNumber(type="text").validate.u-margin__bottom--none
                                  label(for="addressNumber") *Teléfono 1
                                .input-field.col.s6
                                  input#addressNumber2(type="text").validate.u-margin__bottom--none
                                  label(for="addressNumber2") *Teléfono 2
                                .col.s12
                                  p *Campos requeridos
                                .col.s6
                                  p
                                    input(type="checkbox", id='addressAdd')
                                    label(for= 'addressAdd' ) AGREGAR A DIRECCIONES REGISTRADAS
                                .col.s6
                                  p
                                    input(type="checkbox", id='addressAdd1')
                                    label(for= 'addressAdd1' ) USAR ESTA DIRECCIÓN PARA FACTURACIÓN
                                .col.s6
                                  button.waves-effect.waves-light.btn.u-margin__tb--small
                                    | Cancelar
                                .col.s6.right-align
                                  button.waves-effect.waves-light.btn.u-margin__tb--small.u-text__black
                                    i.fas.fa-arrow-right.right
                                    | Continuar

                  .col.s12.m4.offset-m1 
                    .row
                      .col.s12
                        h5.o-checkout__title Resumen de tu 
                          span Orden
                      .col.s12
                        ul.o-resumeOrder
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row
                            .col.s9.offset-s3
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p ORDEN SUB-TOTAL 
                                .c-productPrice__cart-val
                                  p 10,240.00
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p IMPUESTOS DE VENTA*
                                .c-productPrice__cart-val
                                  p 10,240.00
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p COSTO DE ENVÍO
                                .c-productPrice__cart-val
                                  p 10,240.00
                            .col.s9.offset-s3
                              p *Nota sobre los impuestos,si aplica.
              #test2.o-product__tab-item.o-product__tab-item--noreset
                .row.u-padding__top--small
                  .col.s12.m7
                    .row
                      .col.s12
                        h5.o-checkout__title
                          span DIRECCIÓN DE ENVIÓ 
                          | (aún puedes editarla)
                      .col.s12
                        p.o-checkout__titleSeparator Dirección de envio para esta orden
                        a(href="#!").o-checkout__addressEdit
                          ul.truncate
                            li.o-checkout__addressEdit-title Dirección 1
                            li mariella roggero
                            li Calle José Galvez N° 3654 Narnia
                            li Calle José Galvez N° 3654 Narnia
                      .col.s12
                        .u-shadow.u-shadow--gray.u-margin__bottom--small
                      .col.s12
                        h5.o-checkout__title Elige el 
                          span Método de envío
                        p Breve descripción sobre el conjunto de opciones de envío
                      .col.s12
                        .row.valign-wrapper.u-padding__tb--small
                          .col.s9
                            .o-checkout__shipping
                              p
                                input(type="checkbox" id="shipping1")
                                label(for="shipping1") De 3 a 5 días
                              span Costo de envío:
                            img(src="source/img/urbaner.png", alt="").o-checkout__shipping-image
                          .col.s3
                            span.o-resumeOrder__price.c-productNews__price--big.u-block.u-margin__none 5,000
                        .row.valign-wrapper.u-padding__tb--small
                          .col.s9
                            .o-checkout__shipping
                              p
                                input(type="checkbox" id="shipping2")
                                label(for="shipping2") De 3 a 5 días
                              span Costo de envío:
                            img(src="source/img/serpost.png", alt="").o-checkout__shipping-image
                          .col.s3
                            span.o-resumeOrder__price.c-productNews__price--big.u-block.u-margin__none 5,000
                        .row.valign-wrapper.u-padding__tb--small.o-checkout__shipping-disabled
                          .col.s9
                            .o-checkout__shipping
                              p
                                input(type="checkbox" id="shipping3")
                                label(for="shipping3") De 3 a 5 días
                              span Costo de envío:
                            img(src="source/img/fedex.png", alt="").o-checkout__shipping-image
                          .col.s3
                            span.o-resumeOrder__price.c-productNews__price--big.u-block.u-margin__none no disponible para la dirección seleccionada
                      .col.s6
                        button.waves-effect.waves-light.btn.u-margin__tb--small
                          | Cancelar
                      .col.s6.right-align
                        button.waves-effect.waves-light.btn.u-margin__tb--small.u-text__black
                          i.fas.fa-arrow-right.right
                          | Continuar

                  .col.s12.m4.offset-m1 
                    .row
                      .col.s12
                        h5.o-checkout__title Resumen de tu 
                          span Orden
                      .col.s12
                        ul.o-resumeOrder
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row
                            .col.s9.offset-s3
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p ORDEN SUB-TOTAL 
                                .c-productPrice__cart-val
                                  p 10,240.00
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p IMPUESTOS DE VENTA*
                                .c-productPrice__cart-val
                                  p 10,240.00
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p COSTO DE ENVÍO
                                .c-productPrice__cart-val
                                  p 10,240.00
                            .col.s9.offset-s3
                              p *Nota sobre los impuestos,si aplica.
              #test3.o-product__tab-item.o-product__tab-item--noreset
                .row.u-padding__top--small
                  .col.s12.m7
                    .row
                      .col.s12
                        h5.o-checkout__title Elige tu 
                          span Opción de pago
                      .col.s12
                        p.o-checkout__titleSeparator Dirección de envio para esta orden
                        a(href="#!").o-checkout__addressEdit
                          ul.truncate
                            li.o-checkout__addressEdit-title Dirección 1
                            li mariella roggero
                            li Calle José Galvez N° 3654 Narnia
                            li Calle José Galvez N° 3654 Narnia
                      .col.s12
                        p.o-checkout__titleSeparator Dirección de envio para esta orden
                        a(href="#!").o-checkout__addressEdit
                          ul.truncate
                            li.o-checkout__addressEdit-title Dirección 1
                            li mariella roggero
                            li Calle José Galvez N° 3654 Narnia
                            li Calle José Galvez N° 3654 Narnia
                      .col.s12
                        .u-shadow.u-shadow--gray
                      .col.s12.u-margin__top--medium
                        h5.o-checkout__title Opciones de pago
                      .col.s12
                        ul.o-collapsible.collapsible(data-collapsible="accordion")
                          li.o-collapsible__item
                            .o-collapsible__header.o-collapsible__header--gray.collapsible-header.o-collapsible__header--bgray.active.u-padding__lr--none
                              |Elija entre las direcciones registradas
                            .o-collapsible__body.collapsible-body
                              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              .row
                                .col.s12.o-checkout__typeTar
                                  p Tipo de tarjeta
                                  .o-checkout__typeTar-item
                                    input(type="checkbox")#logo-visa
                                    label(for="logo-visa")
                                      img(src="source/img/logo-VISA.png", alt="")  
                                  .o-checkout__typeTar-item
                                    input(type="checkbox")#logo-mc
                                    label(for="logo-mc")
                                      img(src="source/img/logo-MC.png", alt="") 
                                  .o-checkout__typeTar-item
                                    input(type="checkbox")#logo-amex
                                    label(for="logo-amex")
                                      img(src="source/img/logo-AMEX.png", alt="") 

                                .input-field.col.s12
                                  input#addressName(type="text").validate.u-margin__bottom--none
                                  label(for="addressName") *Numero de la tarjeta
                                .input-field.col.s12
                                  input#addressName(type="text").validate.u-margin__bottom--none
                                  label(for="addressName") *Nombre del titular en la tarjeta
                                .col.s12.u-padding__none
                                  .row.u-margin__none.valign-wrapper.u-wrap
                                    .col.s5
                                      p *Fecha de vencimiento
                                    .input-field.col.s2.o-checkout-select
                                      select
                                        option(value="" disabled selected) *Mes
                                        option(value="1") 1
                                        option(value="2") 2
                                        option(value="3") 3
                                        option(value="4") 4
                                        option(value="5") 5
                                        option(value="6") 6
                                    .input-field.col.s2.o-checkout-select
                                      select
                                        option(value="" disabled selected) *Año
                                        option(value="2020") 2020
                                        option(value="2021") 2021
                                        option(value="2022") 2022
                                        option(value="2023") 2023
                                        option(value="2024") 2024
                                        option(value="2025") 2025
                                    .input-field.col.s3
                                      input#addressName(type="text").validate.u-margin__bottom--none
                                      label(for="addressName") CVV (?)
                                .col.s6
                                  button.waves-effect.waves-light.btn.u-margin__tb--small
                                    | Regresar
                                .col.s6.right-align
                                  button.waves-effect.waves-light.btn.u-margin__tb--small.u-text__black
                                    i.fas.fa-arrow-right.right
                                    | Confirmar Pago
                          li.o-collapsible__item
                            .o-collapsible__header.o-collapsible__header--gray.collapsible-header.o-collapsible__header--bgray.u-padding__lr--none
                              |Cuenta en paypal
                            .o-collapsible__body.collapsible-body
                          li.o-collapsible__item
                            .o-collapsible__header.o-collapsible__header--gray.collapsible-header.o-collapsible__header--bgray.u-padding__lr--none
                              |transferencia bancaria
                            .o-collapsible__body.collapsible-body
                              
                      .col.s12
                        button.waves-effect.waves-light.btn.u-margin__tb--small
                          | Regresar

                  .col.s12.m4.offset-m1 
                    .row
                      .col.s12
                        h5.o-checkout__title Resumen de tu 
                          span Orden
                      .col.s12
                        ul.o-resumeOrder
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row.o-resumeOrder__item
                            .col.s3
                              img(src="source/img/products/1.jpg", alt="")
                            .col.s9.u-padding__lr--none
                              .row
                                .col.s12
                                  p Portalápiz "Un día escuché tus pensamientos"
                                .col.s7
                                  span.o-resumeOrder__category CERAMICA | PORCELANA 
                                  span.o-resumeOrder__num
                                    i.fas.fa-caret-right
                                    | 1
                                .col.s5
                                  span.o-resumeOrder__price 5,000
                          li.row
                            .col.s9.offset-s3
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p ORDEN SUB-TOTAL 
                                .c-productPrice__cart-val
                                  p 10,240.00
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p IMPUESTOS DE VENTA*
                                .c-productPrice__cart-val
                                  p 10,240.00
                              .c-productPrice__cart.c-productPrice__cart--order
                                .c-productPrice__cart-name
                                  p COSTO DE ENVÍO
                                .c-productPrice__cart-val
                                  p 10,240.00
                            .col.s9.offset-s3
                              p *Nota sobre los impuestos,si aplica.

      +sectionSeparator(section).o-sectionSeparator--bgray
        .row
          .col.s12
            section.novedades.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image
                      img(src="source/img/products/" + val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.fas.fa-gift
                        | ahora
                    .c-productNews__info.c-productNews__info--nobottom
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
                      .c-productNews__price
                        span 240

    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")