include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header

    +sectionTitle('HELLO HOLIDAY', 'Sensational Seasonables Are Here')
    
    include components/slider

    +sectionSeparator(section)
    .container.center-align
      img(src="http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw5d5f3101/images/slot/homepage/110117_HolidayLaunch/caracastable.jpg", alt="").responsive-img

    +sectionSeparator(eyes)
      +previewProducts(products)

    .container.center-align
      img(src="http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw95c3145c/images/slot/homepage/110117_HolidayLaunch/camille.jpg", alt="").responsive-img

    +sectionSeparator(trending)

    +articleList(articles)


    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")