include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header

    //-+sectionTitle('HELLO HOLIDAY', 'Sensational Seasonables Are Here')
    
    include components/slider
    +graySeparator('Explora nuestra tienda online | 10% de descuento','los jueves y viernes de abril!')

    //-+sectionSeparator(section)

    //-.container.center-align
      img(src="http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw5d5f3101/images/slot/homepage/110117_HolidayLaunch/caracastable.jpg", alt="").responsive-img

    section.u-padding__tb--medium
      +sectionSeparator(eyes)
        +previewProducts(products)
    .container.center-align.hide-on-med-and-down
      img(src="source/img/frase.png", alt="").responsive-img

    //-.container.center-align
      img(src="http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw95c3145c/images/slot/homepage/110117_HolidayLaunch/camille.jpg", alt="").responsive-img

    section.u-padding__tb--medium
      +sectionSeparator(trending).u-container__medium
        .c-sectionIteration
          .row.valign-wrapper
            .col.s12.l6.u-padding__none
              .c-productNews__image.c-productNews__image--only
                img(src="source/img/product-2.jpg", alt="").responsive-img
                a(href="#!") comprar
                  i.fas.fa-gift
                  | ahora
            .col.s12.l6.left-align.u-padding__lr--medium
              h4 Nuevos floreros
              p Te presentamos los nuevos floreros, en diversos acabados y colores
              a(href="").swaves-effect.waves-light.btn.u-text__black.u-margin__top--large
                i.right.fas.fa-arrow-right
                | compra ahora
              
          .row.valign-wrapper
            .col.s12.l6.u-padding__none
              .c-productNews__image.c-productNews__image--only
                img(src="source/img/product-2.jpg", alt="").responsive-img
                a(href="#!") comprar
                  i.fas.fa-gift
                  | ahora
            .col.s12.l6.left-align.u-padding__lr--medium
              h4 Nuevos floreros
              p Te presentamos los nuevos floreros, en diversos acabados y colores
              a(href="").swaves-effect.waves-light.btn.u-text__black.u-margin__top--large
                i.right.fas.fa-arrow-right
                | compra ahora

    section.u-padding__tb--medium
      +sectionSeparator(section)
        .row.u-margin__bottom--none
          .col.s12
            section.novedades.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image
                      img(src="source/img/products/"+ val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.fas.fa-gift
                        | ahora
                    .c-productNews__info
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
                      .c-productNews__price
                        span 240

    //-+articleList(articles)
    section.c-sectionContact
      img(src="source/img/contact.jpg", alt="").c-sectionContact__background
      img(src="source/img/const-paloma.png", alt="").c-sectionContact__bird

      .container
        .row.valign-wrapper
          form.col.s12
            h5 
              i Contáctanos rápidamente...
            .row
              .col.s12.l6
                .row
                  .input-field.col.s12.c-sectionContact__input
                    input(type="text" placeholder="Nombre y Apellido").validate.browser-default
                  .input-field.col.s12.c-sectionContact__input
                    input(type="text" placeholder="Email").validate.validate.browser-default
                  .col.s12
                    p.c-sectionContact__keys TODOS LOS CAMPOS SON OBLIGATORIOS.
              .col.s12.l6
                .row
                  .input-field.col.s12
                    textarea#textarea1.materialize-textarea(placeholder="Tu mensaje").validate.u-margin__bottom--none
                  .input-field.col.s12.right-align
                    button.waves-effect.waves-light.btn.c-button__primary.c-button__small
                      i.fas.fa-arrow-right.right
                      | Enviar
      
    section.u-margin__tb--large
      .container
        .c-sectionCategory.white-text
          .row.right-align
            .col.s12
              img(src="source/img/destacado.jpg", alt="").responsive-img
              .c-sectionCategory__item
                p Tenemos grandes<br> descuentos en productos<br> de nuestra linea de
                p CERÁMICA | PORCELANA!
                a(href="#!").waves-effect.waves-light.btn.c-button__primary
                  i.right.fas.fa-arrow-right
                  | Entérate... no quedan muchos!
    section.u-padding__tb--medium
      +sectionSeparator(section)
        .row.u-margin__bottom--none
          .col.s12
            section.novedades.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image
                      img(src="source/img/products/" + val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.fas.fa-gift
                        | ahora
                    .c-productNews__info.c-productNews__info--nobottom
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
    
    +sectionSeparator(sobrefito)
    section.c-sectionAbout
      .container
        .row.right-align
          .col.s12.l5.offset-l7
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, debitis adipisci, saepe minima consectetur nihil at velit voluptatum aliquid enim, ab, accusamus iste esse necessitatibus quam ipsam. Optio, quasi minus.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae culpa nulla dolorem perferendis nihil mollitia velit fuga. Quod totam consequuntur, sed nostrum perspiciatis est, velit expedita iure, error earum tempore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, sunt, nesciunt.

            a(href="#!").waves-effect.waves-light.btn.u-text__black Ir al sitio web
      img(src="source/img/logo-FE.png", alt="")
      img(src="source/img/sobrefito.jpg", alt="").c-sectionAbout__person
      

    .container.center-align.u-margin__tb--large.hide-on-med-and-down
      img(src="source/img/frase-02.png", alt="").responsive-img

    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")