include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header

    .u-gray.u-padding__bottom--small
      section.u-padding__top--small
        -
          var categorya = {
            "subtitle":"MI CUENTA"
          };
        +sectionSeparator(categorya).o-sectionSeparator--gray
      .container.u-margin__bottom--large
        .row
          .col.s12.l3
            .o-aside__atribute
              ul.o-collapsible.collapsible(data-collapsible="expandable")
                li.o-collapsible__item
                  .o-collapsible__header.o-collapsible__header--gray.o-collapsible__header--bgray.collapsible-header.active.u-padding__lr--none
                    |Hola, Mariella
                  .o-collapsible__body.collapsible-body
                    ul
                      li.c-listCategory__item
                        a(href="#!") Carrito
                      li.c-listCategory__item
                        a(href="#!") Favoritos
                      li.c-listCategory__item
                        a(href="#!") Historial de órdenes
                      li.c-listCategory__item
                        a(href="#!") Perfil
                      li.c-listCategory__item
                        a(href="#!") Cerrar sesión
          .col.s12.l9
            .row 
              .col.s12
                ul.o-order__detail
                  li
                    b Fecha
                    | Enero 18, 2018
                  li
                    b Order #
                    | 100-000000
                  li
                    a(href="#!").waves-effect.waves-light.btn.u-text__black
                      i.fas.fa-arrow-right.right
                      | Ver o imprimir recibo
              .col.s12
                +sectionAcordion('DIRECCIÓN DE DESTINO', '')
                  .row
                      .col.s12.m6.l4
                        .card
                          .card-content
                            p Nombres y Apellidos
                            p Direccion, Calle especifica registrada por el usuario
                            p Ciudad, Código ZIP
                            p Pais
                            p Telefono: 000-000-000
                            p United States
                            p Phone: 987 645 321
                            .o-card__buttons
                              a(href="#!") Edit
                              a(href="#!") Delete
              .col.s12
                +sectionAcordion('RESUMEN DE LA ORDEN', '')
                  
                  .o-history
                    .row.o-history__container
                      .col.s12
                        h6.o-history__title.o-history__title-sub Estado de la orden 
                          span ENVIADO 
                          span Código de rastreo: FEWETX12345465
                      each val in [1,2,3,4,5,6,7]
                        .col.s12.m6
                          .o-history__item
                            .o-history__image
                              img(src="source/img/products/1.jpg", alt="").large
                            .o-history__product
                              .o-history__product-name
                                h6 Nombre del producto
                                span CATEGORÍA
                              p.o-history__product-description Descripcion de variables seleccionadas.
                              .o-history__product-price
                                span 10,000
                                a(href="#!") volver a comprar
                                a(href="").reset Remover de favoritos

                .col.s4.offset-s8.white
                  .c-productPrice__cart.c-productPrice__cart--order
                    .c-productPrice__cart-name
                      p.u-margin__bottom--none Articulo(s) Subtotal:
                    .c-productPrice__cart-val
                      p.u-margin__bottom--none 400
                  .c-productPrice__cart.c-productPrice__cart--order
                    .c-productPrice__cart-name
                      p.u-margin__bottom--none Costo de Envío
                    .c-productPrice__cart-val
                      p.u-margin__bottom--none 20
                  .c-productPrice__cart.c-productPrice__cart--order
                    .c-productPrice__cart-name
                      p.u-margin__bottom--none Total antes de impuestos
                    .c-productPrice__cart-val
                      p.u-margin__bottom--none 420
                  .c-productPrice__cart.c-productPrice__cart--order
                    .c-productPrice__cart-name
                      p.u-margin__bottom--none Impuestos estimados
                    .c-productPrice__cart-val
                      p.u-margin__bottom--none 000
                  .c-productPrice__cart.c-productPrice__cart--order
                    .c-productPrice__cart-name
                      p.u-margin__bottom--none Total
                    .c-productPrice__cart-val
                      p.u-margin__bottom--none 420
                .col.s4.offset-s8
                  p *Nota sobre los impuestos,si aplica.
                      
                

      +sectionSeparator(section).o-sectionSeparator--bgray
        .row
          .col.s12
            section.novedades.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image
                      img(src="source/img/products/" + val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.material-icons local_mall
                        | ahora
                    .c-productNews__info.c-productNews__info--nobottom
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
                      .c-productNews__price
                        span 240

    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")