include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header

    .container.o-policy
      .row
        .col.s12
          h1 PRIVACY POLICY

          p Privacy Policy Effective Date: 
            time August 2, 2016

          p Fito Espinosa takes the privacy of our customers very seriously. We promise responsible handling of all sensitive and personal customer information. The following details our policy regarding the information we collect from our customers and its uses.
          p This policy describes the customer information we collect and why; how we use this information and when (and if) we share it with third parties; the choices you can make about how your personal information is collected, used and shared; and the data security, accuracy and access measures we have adopted to protect customer information under our control from loss, misuse or alteration. We also provide you with information on how you can correct inaccuracies in the information. You can contact Jonathan Adler directly in reference to your privacy, using any of the means of communications outlined in this policy.
          h2 PERSONALLY IDENTIFIABLE INFORMATION
          p
            strong What we collect and how we use it
            |  The phrases “personally identifiable information” or “personal information” mean any information by which you can be identified, such as your name, address, telephone number, etc.
          p You can visit most of our web pages without telling us who you are or revealing any personal information about yourself. If we do collect such personally identifiable information, we typically use it for the purpose of enabling us to contact you directly, for contests and for promotions for example. The following are some examples of how such information might be collected and used:
          h3 Email Newsletter
          p Our email newsletter is used to communicate new product availability, store events, promotions and discounts. If a user requests to receive our email newsletters, they need to provide a valid e-mail address. Real names need not be used to request newsletters.

          h3 Contests and Promotions
          p Email addresses that are submitted for entry in a contest or sweepstakes are used for the purpose of determining and notifying a winner. We may also use the email address to send follow up newsletters and advertising. You may, at any point of time, inform us that you are no longer interested in receiving our newsletter, and we will remove your e-mail address from further mailings. Details on how to opt out of e-mail mailings can be found in the Opting Out section of the privacy policy. Once a prize is awarded in any contest or sweepstakes, information related to the winner will be maintained for internal administrative and auditing purposes.
          h3 Purchasing Products
          p When purchasing Jonathan Adler products, we may ask you to provide certain information about yourself, such as your name, shipping/billing address, telephone number, email address, credit card information, etc. We also maintain a record of your online product purchases. Whether or not to provide such information is completely your own choice. But if you choose not to provide the information we request, you may be unable to purchase products, or access certain services, offers and content on our website.
          p Effective November 15, 2012, the personally identifiable information that you provide to us and information about your order may be combined with other personally identifiable information (such as demographic information and past purchase history) available from our records and other sources. This information will be used to make our future marketing efforts more efficient. This information may also be shared with our third party service providers that assist us with our marketing efforts and with other marketers whose products or services we feel may be of interest to you. If you prefer that we do not share your personal information with other marketers, please email us at 
            a customerservice@jonathanadler.com
          h2 TECHNICAL INFORMATION
          p If you require technical support, we will ask you for information necessary to analyze and resolve the issue — such as information about your computer hardware and software, internet connection details, and the nature of the problem you are experiencing.
          p You will always be the person to make the ultimate decision whether to proceed with any activity that requests personally identifiable information. If you do not wish to provide the requested information, however, you may not be able to complete the transaction. We occasionally make names and addresses (but never e-mail addresses) available to companies whose products we think may interest you, unless you have told us not to. If you do not wish to receive these offers please contact us by email at <a>customerservice@jonathanadler.com</a> or by telephone at (800) 963-0891. In addition, Jonathan Adler may retain the services of outside contractors to provide technical and business services for us. We require that these contractors keep the personally identifiable information of customers secure and confidential. We also require that these contractors use personal information only on behalf of Jonathan Adler.
          p Please be advised that in certain instances, it may be necessary for Jonathan Adler to disclose your personal information to government officials or otherwise as required by our legal obligations.
          h2 OPTING OUT
          p
            strong How you can access, change, or delete your information and preferences:
            | We want to communicate with you only if you want to hear from us. If you prefer not to receive information from us please let us know by sending your written request via email to <a>customerservice@jonathanadler.com</a>, or via postal mail to Jonathan Adler, 333 Hudson St, 7th Floor, New York, NY 10013. You may also contact us at (800) 963-0891. Please provide your full name, mailing address, email address, and phone number when making this request.  Include your email address, full name, and specifically what information you do not want to receive. Please note that it may take up to two weeks for your request to become effective.
          
    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")