include settings/variables
include components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

  body
    include blocks/header
    
    .container
      .row.u-margin__bottom--none
        .col.s12.u-margin__top--small
          //-+breadCrumbs('Inicio','Categorias','Pinturas','Producto')
          -
            var categorya = {
              "subtitle":"La reina"
            };
          +sectionSeparator(categorya)
        .col.s12.l3
          aside.o-aside
            //-+breadCrumbs('Inicio','Categorias','Pinturas').u-margin__bottom--large
            
            ul.o-collapsible.collapsible(data-collapsible="accordion")
              li.o-collapsible__item
                .o-collapsible__header.collapsible-header.active
                  |PINTURA | DIBUJOS
                .o-collapsible__body.collapsible-body
                  ul
                    each item in category
                      li.c-listCategory__item.c-listCategory__item--primary
                        a(href= item.link).u-hover__linear= item.name
              li.o-collapsible__item
                .o-collapsible__header.collapsible-header
                  |GRABADOS
                .o-collapsible__body.collapsible-body
                  span Lorem ipsum dolor sit amet.
              li.o-collapsible__item
                .o-collapsible__header.collapsible-header
                  |CERÁMICA | PORCELANA
                .o-collapsible__body.collapsible-body
                  span Lorem ipsum dolor sit amet.
              li.center-align.u-padding__tb--small
                img(src="source/img/flor-01.png", alt="")
            //-+listCategory('BY CATEGORY',category).hide-on-med-and-down
          //-.o-aside
            +listCategory('BY CATEGORY',category).hide-on-med-and-down
        .col.s12.l9
          .row
            .col.s12.l6
              span.o-product__image#product-img
                img(src="source/img/thumb1.jpg", alt="").responsive-img
              .o-product__carousel
                img(src="source/img/thumb2.jpg", alt="")
                img(src="source/img/thumb1.jpg", alt="")
                img(src="source/img/thumb3.jpg", alt="")
                img(src="source/img/thumb4.jpg", alt="")
              
              .o-product__shared
                p Comparte este producto!
                .o-product__shared-buttons
                  a(href="#!")
                    img(src="source/img/rs-facebook.png", alt="")
                  a(href="#!")
                    img(src="source/img/rs-twitter.png", alt="")
                  a(href="#!")
                    img(src="source/img/rs-youtube.png", alt="")
                  a(href="#!")
                    img(src="source/img/rs-google.png", alt="")
                  a(href="#!")
                    img(src="source/img/rs-pinterest.png", alt="")
            .col.s12.l6
              .row
                .col.s6
                  p.o-product__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident iusto molestiae aspernatur quis veritatis suscipit perferendis.
                .col.s6
                  .o-product__status
                    p.o-product__status-title ESTADO EN TU CUENTA
                    span
                      i.material-icons star
                    span.active
                      i.material-icons.icon-shop
                .col.s12
                  form.row.u-margin__top--medium
                    .col.s12
                      .c-listCategory
                        h6.c-listCategory__title.c-listCategory__title--normal ELIGE ENTRE LAS OPCIONES DISPONIBLES PARA ESTE PRODUCTO (son necesarias!)

                        .row.u-margin__none
                          .col.s12
                            .row.valign-wrapper.u-wrap
                              .col.s3
                                p COLOR <br> (Solo una)
                              .col.s9
                                .c-colorSelector
                                  input(type="radio", name="colorSelector", value="red")#cS1
                                  label(for="cS1" style="background: red")
                                  input(type="radio", name="colorSelector", value="blue")#cS2
                                  label(for="cS2" style="background: blue")
                                  input(type="radio", name="colorSelector", value="green")#cS3
                                  label(for="cS3" style="background: green")
                                  input(type="radio", name="colorSelector", value="yellow")#cS4
                                  label(for="cS4" style="background: yellow")
                              .col.s12
                                .u-shadow
                          .col.s12
                            .row.valign-wrapper.u-wrap
                              .col.s3
                                p.u-margin__none COLOR <br> (Solo una)
                              .col.s9
                                //-.c-listSelector.c-listSelector__twoColumns
                                  label
                                    input(type="radio" name="listSelector")
                                    span MATE
                                  label
                                    input(type="radio" name="listSelector")
                                    span PLATA
                                  label
                                    input(type="radio" name="listSelector")
                                    span BRILLANTE
                                  label
                                    input(type="radio" name="listSelector")
                                    span ORO
                                .row.u-margin__bottom--none
                                  .col.s6
                                    input(type="checkbox")#selectorMate
                                    label(for="selectorMate") MATE
                                  .col.s6
                                    input(type="checkbox")#selectorPlata
                                    label(for="selectorPlata") PLATA
                                  .col.s6
                                    input(type="checkbox")#selectorBrill
                                    label(for="selectorBrill") BRILLANTE
                                  .col.s6
                                    input(type="checkbox")#selectorOro
                                    label(for="selectorOro") ORO
                    .col.s12
                      .c-listCategory
                        h6.c-listCategory__title.c-listCategory__title--normal CANTIDAD

                        .row.u-margin__none
                          .col.s12
                            .row.o-product__count
                              a(href="#!").col.u-padding__lr--none.o-product__count-plus
                                i.fas.fa-minus
                              .input-field.col.u-margin__top--none
                                input#number(type="text" value="1").validate
                              a(href="#!").col.u-padding__lr--none.o-product__count-plus
                                i.fas.fa-plus
                    .col.s12.m9.offset-m3
                      .c-productNews__price.c-productNews__full
                        span.u-line-through 10,000
                        span.c-productNews__price--big 5,000

                      a.waves-effect.waves-light.btn.u-margin__tb--small.u-block.u-primary.u-text__medium
                        i.material-icons.right.icon-shop
                        | Agrega al carrito

                      .o-product__save
                        a(href="#!") Guárdalo en tus favoritos
                         i.material-icons star

                      .o-product__contact
                        p O contáctanos si te queda alguna duda

                      .o-product__social
                        span.valign-wrapper
                          i.fab.fa-whatsapp.fa-2x
                          | +51 990 048 084
                        span
                          i.far.fa-envelope.fa-2x
                          | Galería PE

          .row.u-margin__bottom--none
            .col.s12.o-product__tabs
              ul.tabs
                li.tab.col.s4
                  a.active(href="#test1") Description
                    i.material-icons.right expand_more
                li.tab.col.s4
                  a(href="#test2") Specs & care
                    i.material-icons.right expand_more
                li.tab.col.s4
                  a(href="#test3") Shipping
                    i.material-icons.right expand_more

            .col.s12.o-product__tab
              #test1.o-product__tab-item
                p Signature Style.
                p Our Lampert Sofa hits all the right notes—the high tuxedo back gives it an elegant yet formal presence, while the bolsters make it super comfy. Explore our custom upholstery program—you can't go wrong with velvet. Our favorite combinations? Venice Peacock with white base evokes Hollywood glamour, Brussels Charcoal lends a little uptown swank, or Venice Emerald with black base oozes moody Chinoise elegance. Mix and match your favorite fabrics and finishes to suit your style.
                p Beyond the options shown, add:

                ul
                  li a single row of nailhead trim for an additional $100
                  li a double row of nailhead trim for an additional $200
                  
                p Call customer service (1-800-963-0891) for details or to order.
                p Discover the entire 
                  a Lampert Collection.
              #test2.o-product__tab-item
                ul
                  li 85" W, 34" D, 32" H
                  li Seat height: 18", Seat depth: 22"
                  li Arm height: 32"
                  li Solid maple base with water-based wood finish stain
                  li Fiber padding materials comprised of 100% recycled polyester
                  li Benchmade in the USA
                  li Tight back, loose cushion
                  li Available with a single row (+$100) or double row (+$200) of nailhead trim; call customer service (1-800-963-0891) to order
                  li Professional cleaning recommended; click 
                    a here for detailed care instructions
                  li
                    a Product Tearsheet
              #test3.o-product__tab-item
                p This item ships via White Glove Delivery. Custom items are made-to-order. Your delivery appointment will be scheduled within approximately 12-14 weeks.
                p Customized items and furniture cannot be returned. Read our full policy 
                 a here
                 | .
            .col.s12
              section.u-padding__top--medium
                -
                  var othersShopA = {
                    "subtitle":"También prodría interesarte...",
                  };
                +sectionSeparator(othersShopA).u-full
                  .row.u-margin__bottom--none
                    .col.s12.m6.l3.u-padding__lr--none
                      .c-productNews
                        .c-productNews__image
                          img(src="source/img/products/1.jpg", alt="")
                          a(href="#!") comprar
                            i.material-icons local_mall
                            | ahora
                        .c-productNews__info.c-productNews__info--nobottom
                          .c-productNews__name
                            h6 "La reina"
                            p PINTURA
                          .c-productNews__price
                            span 240
                    .col.s12.m6.l3.u-padding__lr--none
                      .c-productNews
                        .c-productNews__image
                          img(src="source/img/products/2.jpg", alt="")
                          a(href="#!") comprar
                            i.material-icons local_mall
                            | ahora
                        .c-productNews__info.c-productNews__info--nobottom
                          .c-productNews__name
                            h6 "La reina"
                            p PINTURA
                          .c-productNews__price
                            span 240
                    .col.s12.m6.l3.u-padding__lr--none
                      .c-productNews
                        .c-productNews__image
                          img(src="source/img/products/3.jpg", alt="")
                          a(href="#!") comprar
                            i.material-icons local_mall
                            | ahora
                        .c-productNews__info.c-productNews__info--nobottom
                          .c-productNews__name
                            h6 "La reina"
                            p PINTURA
                          .c-productNews__price
                            span 240
                    .col.s12.m6.l3.u-padding__lr--none
                      .c-productNews
                        .c-productNews__image
                          img(src="source/img/products/4.jpg", alt="")
                          a(href="#!") comprar
                            i.material-icons local_mall
                            | ahora
                        .c-productNews__info.c-productNews__info--nobottom
                          .c-productNews__name
                            h6 "La reina"
                            p PINTURA
                          .c-productNews__price
                            span 240
        
    section.u-padding__tb--medium
      -
        var othersShop = {
          "subtitle":"Otros usuario compraron...",
        };
      +sectionSeparator(othersShop)
        .row
          .col.s12
            section.others-users.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image.c-productNews__image--equals
                      img(src="source/img/products/"+ val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.material-icons local_mall
                        | ahora
                    .c-productNews__info.c-productNews__info--nobottom
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
          
            
    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/jquery.zoom.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")