include settings/variables
include components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header
    
    .container
      .row
        .col.s12.l3
          .o-aside
            +breadCrumbs('Inicio','Categorias','Pinturas').u-margin__bottom--large
            
            +listCategory('BY CATEGORY',category).hide-on-med-and-down
            +listCategory('BY LIST',category).hide-on-med-and-down
        .col.s12.l9
          +bannerCategory('FURNITURE',desCategory)
          +bannerCategory('Grabados Giclée',desCategory).c-desCategory__reverse
          
          .row
            .col.s12.m4
              +cardProduct('#!','http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw1c868e22/images/slot/landing/Furniture%20LP/FurnitureSP17Turner.jpg','CHOOSE THE HUE FOR YOU','Shop the Turner Collection')
            .col.s12.m4
              +cardProduct('#!','http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw1c868e22/images/slot/landing/Furniture%20LP/FurnitureSP17Turner.jpg','CHOOSE THE HUE FOR YOU','Shop the Turner Collection')
            .col.s12.m4
              +cardProduct('#!','http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw1c868e22/images/slot/landing/Furniture%20LP/FurnitureSP17Turner.jpg','CHOOSE THE HUE FOR YOU','Shop the Turner Collection','Shop Custom Furniture')
          +bannerCategory('FURNITURE',desCategory)
          .row
            .col.s12.m6
              +cardProduct('#!','http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw1c868e22/images/slot/landing/Furniture%20LP/FurnitureSP17Turner.jpg','CHOOSE THE HUE FOR YOU','Shop the Turner Collection')
            .col.s12.m6
              +cardProduct('#!','http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw1c868e22/images/slot/landing/Furniture%20LP/FurnitureSP17Turner.jpg','CHOOSE THE HUE FOR YOU','Shop the Turner Collection')
          .row
            .col.s12.m6
              +postCard('OUR FURNITURE STORY', 'Were a bit different from most furniture companies. Craftsmanship is at the core of everything we do.', 'Learn more')
            .col.s12.m6
              +postCard('OUR FURNITURE STORY', 'Were a bit different from most furniture companies. Craftsmanship is at the core of everything we do.', 'Learn more')
            .col.s12.m6
              +postCard('OUR FURNITURE STORY', 'Were a bit different from most furniture companies. Craftsmanship is at the core of everything we do.', 'Learn more')
            .col.s12.m6
              +postCard('OUR FURNITURE STORY', 'Were a bit different from most furniture companies. Craftsmanship is at the core of everything we do.', 'Learn more')
          
    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")