include settings/variables
include components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="shortcut icon" href="http://fitoespinosa.com/wp-content/uploads/2018/03/favicon.png")
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header
    
    .container
      .row
        .col.s12.u-margin__top--small
          -
            var categorya = {
              "subtitle":"PINTURAS"
            };
          +sectionSeparator(categorya)
        .col.s12.l3
          aside.o-aside
            //-+breadCrumbs('Inicio','Categorias','Pinturas').u-margin__bottom--large
            
            ul.o-collapsible.collapsible(data-collapsible="accordion")
              li.o-collapsible__item
                .o-collapsible__header.collapsible-header.u-padding__lr--none.active
                  |PINTURA | DIBUJOS
                .o-collapsible__body.collapsible-body
                  ul
                    li.c-listCategory__item.c-listCategory__item--primary
                      a(href="").u-hover__linear sub categoria 1
                    li.c-listCategory__item.c-listCategory__item--primary
                      a(href="").u-hover__linear sub categoria 2
              li.center-align.u-padding__tb--small
                img(src="source/img/flor-01.png", alt="")

            .o-aside__atribute
              ul.o-collapsible.collapsible(data-collapsible="expandable")
                li.o-collapsible__item
                  .o-collapsible__header.o-collapsible__header--gray.collapsible-header.active.u-padding__lr--none
                    |Ordenar por > PRECIO
                  .o-collapsible__body.collapsible-body
                    form
                      ul
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-1')
                            label(for= 'test-1' ) De menor a mayor
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-2')
                            label(for= 'test-2' ) De mayor a menor
                li.o-collapsible__item
                  .o-collapsible__header.o-collapsible__header--gray.collapsible-header.active.u-padding__lr--none
                    |Ordenar por > ATRIBUTO
                  .o-collapsible__body.collapsible-body
                    form
                      ul
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-3')
                            label(for= 'test-3' ) Atributo 1
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-4')
                            label(for= 'test-4' ) Atributo 2
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-5')
                            label(for= 'test-5' ) Atributo 3
                li.o-collapsible__item
                  .o-collapsible__header.o-collapsible__header--gray.collapsible-header.u-padding__lr--none
                    |Ordenar por > ATRIBUTO
                  .o-collapsible__body.collapsible-body
                    form
                      ul
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-6')
                            label(for= 'test-6' ) Atributo 1
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-7')
                            label(for= 'test-7' ) Atributo 2
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-8')
                            label(for= 'test-8' ) Atributo 3
                li.o-collapsible__item
                  .o-collapsible__header.o-collapsible__header--gray.collapsible-header.u-padding__lr--none
                    |Ordenar por > ATRIBUTO
                  .o-collapsible__body.collapsible-body
                    form
                      ul
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-9')
                            label(for= 'test-9' ) Atributo 1
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-10')
                            label(for= 'test-10' ) Atributo 2
                        li.c-listCategory__item
                          p
                            input(type="checkbox", id='test-11')
                            label(for= 'test-11' ) Atributo 3
            //-+listCategory('BY CATEGORY',category).hide-on-med-and-down
        .col.s12.l9
          +galleryProduct(items)
          //-+previewProducts4(products)
      
    section.u-padding__tb--medium
      +sectionSeparator(section)
        .row
          .col.s12
            section.novedades.c-productNews__container
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  .c-productNews
                    .c-productNews__image
                      img(src="source/img/products/"+ val + ".jpg", alt="")
                      a(href="#!") comprar
                        i.fas.fa-gift
                        | ahora
                    .c-productNews__info
                      .c-productNews__name
                        h6 "La reina"
                        p PINTURA
                      .c-productNews__price
                        span 240
          
    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")