include settings/variables
include components/mixins.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include blocks/header


    .container
      .row
        .col.s12
          +breadCrumbs('home','my account')
        .col.s12.m3
          ul.o-collapsible.collapsible(data-collapsible="accordion")
            li.o-collapsible__item
              .o-collapsible__header.collapsible-header.active
                |My Account
              .o-collapsible__body.collapsible-body
                ul.default
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear PERSONAL DATA
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear ADDRESSES
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear WISHLIST
                  li.c-listCategory__item
                    a(href="#!").u-hover__linear GALLERY
        .col.s12.m9
          h4.o-account__title MY ACCOUNT: EDIT PERSONAL DATA 
            a(href="#!") (LOG OUT)

          +sectionAcordion('NAME', '')
            table.o-table.bordered.responsive-table.centered
              thead
                tr
                  th Image
                  th Name
                  th Item Name
                  th Item Price
                  th Actions
                  th Total
              tbody
                tr
                  td
                    img(src="source/img/thumb1.jpg", alt="")
                  td Alvin
                  td Eclair
                  td $0.87
                  td 
                    a(href="#!") Delete
                  td 
                tr
                  td
                    img(src="source/img/thumb2.jpg", alt="")
                  td Alan
                  td Jellybean
                  td $3.76
                  td 
                    a(href="#!") Delete
                  td 
                tr
                  td
                    img(src="source/img/thumb3.jpg", alt="")
                  td Jonathan
                  td Lollipop
                  td $7.00
                  td 
                    a(href="#!") Delete
                  td 
                tr
                  td
                    img(src="source/img/thumb4.jpg", alt="")
                  td Alvin
                  td Eclair
                  td $0.87
                  td 
                    a(href="#!") Delete
                  td 
                tr
                  td(colspan='5').right-align TOTAL
                  td $32.00



    include blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")