include ../settings/variables
include ../components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include ../blocks/header
    
    .container
      .row
          .col.s12
            h5.c-sectionTitle Grid Layouts
          .col.s12
            .o-grid.o-grid--6
              .o-grid__image
                img(src="source/img/clients/1.png", alt="")
              .o-grid__image
                img(src="source/img/clients/2.png", alt="")
              .o-grid__image
                img(src="source/img/clients/3.png", alt="")
              .o-grid__image
                img(src="source/img/clients/4.png", alt="")
              .o-grid__image
                img(src="source/img/clients/5.png", alt="")
              .o-grid__image
                img(src="source/img/clients/6.png", alt="")
              .o-grid__image
                img(src="source/img/clients/7.png", alt="")
              .o-grid__image
                img(src="source/img/clients/8.png", alt="")
              .o-grid__image
                img(src="source/img/clients/9.png", alt="")
              .o-grid__image
                img(src="source/img/clients/10.png", alt="")
              .o-grid__image
                img(src="source/img/clients/11.png", alt="")
              .o-grid__image
                img(src="source/img/clients/12.png", alt="")
      .row
          .col.s12
            h5.c-sectionTitle Grid Layouts
          .col.s12
            .o-grid.o-grid--5
              .o-grid__image
                img(src="source/img/clients/1.png", alt="")
              .o-grid__image
                img(src="source/img/clients/2.png", alt="")
              .o-grid__image
                img(src="source/img/clients/3.png", alt="")
              .o-grid__image
                img(src="source/img/clients/4.png", alt="")
              .o-grid__image
                img(src="source/img/clients/5.png", alt="")
              .o-grid__image
                img(src="source/img/clients/6.png", alt="")
              .o-grid__image
                img(src="source/img/clients/7.png", alt="")
              .o-grid__image
                img(src="source/img/clients/8.png", alt="")
              .o-grid__image
                img(src="source/img/clients/9.png", alt="")
              .o-grid__image
                img(src="source/img/clients/10.png", alt="")
      .row
          .col.s12
            h5.c-sectionTitle Grid Layouts
          .col.s12
            .o-grid.o-grid--4
              .o-grid__image
                img(src="source/img/clients/1.png", alt="")
              .o-grid__image
                img(src="source/img/clients/2.png", alt="")
              .o-grid__image
                img(src="source/img/clients/3.png", alt="")
              .o-grid__image
                img(src="source/img/clients/4.png", alt="")
              .o-grid__image
                img(src="source/img/clients/5.png", alt="")
              .o-grid__image
                img(src="source/img/clients/6.png", alt="")
              .o-grid__image
                img(src="source/img/clients/7.png", alt="")
              .o-grid__image
                img(src="source/img/clients/8.png", alt="")
      .row
          .col.s12
            h5.c-sectionTitle Carousel Clients
          .col.s12
            section.regular
              each val in [1,2,3,4,5,6,7,8,9]
                div
                  img(src='source/img/clients/'+ val+'.png')
          
    include ../blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    //script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")