include ../settings/variables
include ../components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

  body
    include ../blocks/header
    
    .container
      .row
        .col.s12
          .row
            .col.s12.l8
              +breadCrumbs('Inicio','Categorias','Pinturas','Producto')
              .o-product__image
                img(src="http://demandware.edgesuite.net/sits_pod54-pod55/dw/image/v2/AAOX_PRD/on/demandware.static/-/Sites-catalog-master/default/dwc4122c91/hi-res/ushi-res/claridge_sofa_belfast_stone.jpg?sw=768&sh=768&sm=fit",  alt="").responsive-img
              .o-product__items#product-gallery
                a.o-product__items-image
                  img(src="http://demandware.edgesuite.net/sits_pod54-pod55/dw/image/v2/AAOX_PRD/on/demandware.static/-/Sites-catalog-master/default/dwc4122c91/hi-res/ushi-res/claridge_sofa_belfast_stone.jpg?sw=768&sh=768&sm=fit", alt="")
                a.o-product__items-image
                  img(src="http://demandware.edgesuite.net/sits_pod54-pod55/dw/image/v2/AAOX_PRD/on/demandware.static/-/Sites-catalog-master/default/dwc4122c91/hi-res/ushi-res/claridge_sofa_belfast_stone.jpg?sw=768&sh=768&sm=fit", alt="")
                a.o-product__items-image
                  img(src="http://demandware.edgesuite.net/sits_pod54-pod55/dw/image/v2/AAOX_PRD/on/demandware.static/-/Sites-catalog-master/default/dwc4122c91/hi-res/ushi-res/claridge_sofa_belfast_stone.jpg?sw=768&sh=768&sm=fit", alt="")
                a.o-product__items-image
                  img(src="http://demandware.edgesuite.net/sits_pod54-pod55/dw/image/v2/AAOX_PRD/on/demandware.static/-/Sites-catalog-master/default/dwc4122c91/hi-res/ushi-res/claridge_sofa_belfast_stone.jpg?sw=768&sh=768&sm=fit", alt="")
              
            .col.s12.l4

              p.o-product__message In stock and available to ship.
              h1.o-product__title.u-margin__none Lampert sofa
              
              .row
                .col.s12
                  p.o-product__count-price 3,695
                .col.s6 
                  p 1.Fabric color
                  ul.o-product__colors
                    li
                      a(href="#!").indigo.active
                    li
                      a(href="#!").cyan.darken-1
                    li
                      a(href="#!").green.lighten-2
                .col.s6
                  .input-field
                    input#first_name(type="number").validate
                    label(for="first_name") Quantity
                .col.s12
                  p 2.Size
                  .input-field
                    select
                      option(value="" disabled selected) Size
                      option(value="1") A 2
                      option(value="2") A 3
                      option(value="3") A 4
                .col.s12
                  a.c-button.waves-effect.waves-light.btn add to cart
              .row  
                .col.s6
                  a(href="#!") My Gift Registry
                .col.s6.o-product__social
                  p.u-margin__none Share
                  a(href="#!")
                    i.material-icons.icon-facebook
                  a(href="#!")
                    i.material-icons.icon-twitter
                  a(href="#!")
                    i.material-icons.icon-youtube
              .row
                .col.s12.o-product__tabs
                  ul.tabs
                    li.tab.col.s4
                      a.active(href="#test1") Description
                    li.tab.col.s4
                      a(href="#test2") Specs & care
                    li.tab.col.s4
                      a(href="#test3") Shipping

                .col.s12.o-product__tab
                  #test1.o-product__tab-item
                    p Signature Style.
                    p Our Lampert Sofa hits all the right notes—the high tuxedo back gives it an elegant yet formal presence, while the bolsters make it super comfy. Explore our custom upholstery program—you can't go wrong with velvet. Our favorite combinations? Venice Peacock with white base evokes Hollywood glamour, Brussels Charcoal lends a little uptown swank, or Venice Emerald with black base oozes moody Chinoise elegance. Mix and match your favorite fabrics and finishes to suit your style.
                    p Beyond the options shown, add:

                    ul
                      li a single row of nailhead trim for an additional $100
                      li a double row of nailhead trim for an additional $200
                      
                    p Call customer service (1-800-963-0891) for details or to order.
                    p Discover the entire 
                      a Lampert Collection.
                  #test2.o-product__tab-item
                    ul
                      li 85" W, 34" D, 32" H
                      li Seat height: 18", Seat depth: 22"
                      li Arm height: 32"
                      li Solid maple base with water-based wood finish stain
                      li Fiber padding materials comprised of 100% recycled polyester
                      li Benchmade in the USA
                      li Tight back, loose cushion
                      li Available with a single row (+$100) or double row (+$200) of nailhead trim; call customer service (1-800-963-0891) to order
                      li Professional cleaning recommended; click 
                        a here for detailed care instructions
                      li
                        a Product Tearsheet
                  #test3.o-product__tab-item
                    p This item ships via White Glove Delivery. Custom items are made-to-order. Your delivery appointment will be scheduled within approximately 12-14 weeks.
                    p Customized items and furniture cannot be returned. Read our full policy 
                     a here
                     | .

                .col.s12
                  p.o-product__code Item #: 7061-BrusselsCharcoal-White-Y
        
          
            
    include ../blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/jquery.elevateZoom-3.0.8.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")