include ../settings/variables
include ../components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include ../blocks/header
    
    .container
      .row
        .col.s12.m6
          h5.c-sectionTitle 6/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nobis eaque, nisi facere perspiciatis praesentium assumenda, dolor libero labore cupiditate tempore dignissimos sunt iste dicta explicabo. Veritatis sed sequi ab.
        .col.s12.m6
          h5.c-sectionTitle 6/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ullam unde corporis aperiam, modi, facilis est voluptatum expedita obcaecati error sunt nisi atque maiores consequatur sed id deleniti minus quo.

        .col.s12.m9
          h5.c-sectionTitle 9/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nostrum fugiat reiciendis molestias hic pariatur doloremque numquam labore totam provident beatae impedit commodi unde dolore non quos delectus ipsam, quo.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, accusantium earum, saepe eveniet deleniti rem voluptatem voluptatibus fugit eligendi dicta omnis voluptatum aspernatur repudiandae sequi eaque odit sit doloremque id.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni consequuntur dolore et, ducimus blanditiis unde facilis assumenda, ullam esse laudantium quod sunt suscipit. Odio incidunt dolor illum deleniti aperiam?
        .col.s12.m3
          h5.c-sectionTitle 3/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et ipsum dolorum laboriosam pariatur optio velit vitae earum ipsam odit, dolorem assumenda. Velit, dolor sequi assumenda consequatur, illum libero enim! lorem

        .col.s12.m3
          h5.c-sectionTitle 3/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ducimus repellat explicabo reiciendis aspernatur voluptates soluta adipisci eum molestiae! Quae, voluptatum. Id earum blanditiis, nulla corrupti corporis porro autem quaerat.
        .col.s12.m9
          h5.c-sectionTitle 9/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nihil porro possimus, exercitationem rerum accusamus commodi tempora quasi dolores autem ipsam blanditiis sit deserunt eaque in animi, pariatur provident. Officia!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusamus neque aliquid perspiciatis earum ad sit, nostrum vel repellat, culpa officia laudantium animi nisi odio quis tempore hic facere vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos esse, laboriosam tempore fuga consectetur repudiandae cum aliquam sed. Nam nobis eum porro quas nihil repellat, mollitia hic ipsum corporis sed!
      .row
        .col.s12.m4
          h5.c-sectionTitle 4/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, rem quasi quas adipisci animi eaque fuga tempore natus distinctio, similique debitis esse, ad doloribus tempora suscipit recusandae sed libero amet!
        .col.s12.m8
          h5.c-sectionTitle 8/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores nihil, recusandae incidunt laboriosam totam numquam eos. Magnam quia molestias temporibus et illo corporis quibusdam fugiat laboriosam autem repellat, dignissimos porro.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sapiente temporibus illum molestiae cupiditate fuga mollitia inventore quos optio vero facere atque ullam perspiciatis eos quia distinctio, officia! Numquam, eum.
      .row
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, laudantium, voluptatibus. Enim quod asperiores molestiae temporibus dolorem nam at voluptas id. Iure, voluptate, aliquid. Dolore unde repudiandae aliquam reprehenderit provident.
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi labore aperiam nemo reprehenderit aliquam, sint. Veniam laudantium hic commodi tenetur quas modi autem corporis, porro est, itaque alias enim cumque.
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quisquam, laudantium. Unde eveniet maiores in iure natus impedit? Exercitationem aliquam laborum, illum obcaecati accusantium iure. Quos eaque sit ipsum culpa.
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur labore nemo repudiandae beatae voluptatibus culpa dignissimos, aliquam et ullam facere dolores qui obcaecati ratione nam! Dolor, unde! Consequuntur, voluptatum, itaque!
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eos ipsum culpa soluta sint alias modi? Ipsa vitae, labore itaque doloribus. Harum ipsum placeat soluta officia quisquam, commodi hic eum.
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit iure, esse quos ex suscipit, ipsum expedita iste veniam obcaecati cum? Quo cum ipsam optio error, illo debitis maxime blanditiis veritatis.
      .row
        .col.s12.m2
          h5.c-sectionTitle 2/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quos sit tempore explicabo vero totam non rerum velit maiores voluptatum quasi quisquam, atque eaque minus fugiat provident iusto dolores ipsum.
        .col.s12.m10
          h5.c-sectionTitle 10/12 width
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis amet nobis laboriosam reprehenderit, facere eligendi! Sapiente amet dolor nostrum a, quas, totam! Sed illo aperiam necessitatibus, repellendus minus excepturi! Aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro placeat, aspernatur ducimus tempora enim a dolorum quam dignissimos. Aperiam iure voluptate, perferendis a obcaecati similique qui magni numquam autem necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis similique reprehenderit beatae, quis obcaecati voluptate distinctio facilis soluta inventore. Cum ab, esse at nostrum sunt! Tempore corporis expedita voluptates rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem non doloribus ipsa, dolores, praesentium expedita pariatur modi, temporibus sapiente minima rerum. Tenetur, quo facilis inventore ipsum deserunt nisi aliquid, excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam necessitatibus cum fugiat dignissimos cupiditate quibusdam optio quae, ipsum doloremque, a, amet blanditiis qui distinctio quasi molestiae repellat doloribus aliquid voluptatum.
          

          
    include ../blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/script.js")