include ../settings/variables
include ../components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include ../blocks/header
    
    .container
      .row
        .col.s12.l3
          .o-aside
            +breadCrumbs('Inicio','Categorias','Pinturas').u-margin__bottom--large
            
            +listCategory('BY CATEGORY',category).hide-on-med-and-down
            +listCategory('BY LIST',category).hide-on-med-and-down
        .col.s12.l9
          +bannerCategory('FURNITURE',desCategory)(class="c-desCategory__reverse")
          
          .row.c-gallery
            each item in items
              .col.s12.m4
                +product(item,'lorem')

          
    include ../blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/slick.js")
    script(src="source/transpiled_js/script.js")