include ../settings/variables
include ../components/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tienda FitoEspinosa
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://file.myfontastic.com/Je2qVQFHWdpjAg3hYktk9P/icons.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    include ../blocks/header
    
    .container
      .row
        .col.s12.m6
          .row
            .col.s12
              h5.c-sectionTitle Table
            .col.s12
              table.o-table.responsive-table
                thead
                  tr
                    th Name
                    th Item Name
                    th Item Price
                tbody
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
                  tr
                    td Alan
                    td Jellybean
                    td $3.76
                  tr
                    td Jonathan
                    td Lollipop
                    td $7.00
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
        .col.s12.m6
          .row
            .col.s12
              h5.c-sectionTitle Bordered Table
            .col.s12
              table.o-table.bordered.responsive-table
                thead
                  tr
                    th Name
                    th Item Name
                    th Item Price
                tbody
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
                  tr
                    td Alan
                    td Jellybean
                    td $3.76
                  tr
                    td Jonathan
                    td Lollipop
                    td $7.00
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
        .col.s12.m6
          .row
            .col.s12
              h5.c-sectionTitle Striped Table
            .col.s12
              table.o-table.striped.responsive-table
                thead.transparent
                  tr
                    th Name
                    th Item Name
                    th Item Price
                tbody
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
                  tr
                    td Alan
                    td Jellybean
                    td $3.76
                  tr
                    td Jonathan
                    td Lollipop
                    td $7.00
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
        .col.s12.m6
          .row
            .col.s12
              h5.c-sectionTitle Highlight Table
            .col.s12
              table.o-table.highlight.responsive-table
                thead
                  tr
                    th Name
                    th Item Name
                    th Item Price
                tbody
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
                  tr
                    td Alan
                    td Jellybean
                    td $3.76
                  tr
                    td Jonathan
                    td Lollipop
                    td $7.00
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
        .col.s12
          .row
            .col.s12
              h5.c-sectionTitle.center-align Centered Table
            .col.s12
              table.o-table.centered.responsive-table
                thead
                  tr
                    th Name
                    th Item Name
                    th Item Price
                tbody
                  tr
                    td Alvin
                    td Eclair
                    td $0.87
                  tr
                    td Alan
                    td Jellybean
                    td $3.76
                  tr
                    td Jonathan
                    td Lollipop
                    td $7.00
                  tr
                    td Alvin
                    td Eclair
                    td $0.87

          
    include ../blocks/footer
    

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="source/transpiled_js/materialize.min.js")
    script(src="source/transpiled_js/jquery.pinto.min.js")
    script(src="source/transpiled_js/script.js")