-
  var navlist = [
    {
      "name":"Pinturas | Dibujos",
      "ruta":"category.html"
    },
    {
      "name":"Grabados",
      "ruta":"category.html"
    },
    {
      "name":"Cerámica | Porcelana",
      "ruta":"category.html"
    },
    {
      "name":"Libros",
      "ruta":"category.html"
    },
    {
      "name":"Esculturas",
      "ruta":"category.html"
    }
  ];

-
  var category = [
    {
      "name":"Sofas",
      "link":"#!"
    },
    {
      "name":"Sectionals",
      "link":"#!"
    },
    {
      "name":"Daybeds & Chaises",
      "link":"#!"
    },
    {
      "name":"Chairs",
      "link":"#!"
    },
    {
      "name":"Benches & Ottomans",
      "link":"#!"
    },
    {
      "name":"Consoles & Credenzas",
      "link":"#!"
    },
    {
      "name":"Étagères & Cabinets",
      "link":"#!"
    },
    {
      "name":"Dressers & Chests",
      "link":"#!"
    },
    {
      "name":"Cocktail Tables",
      "link":"#!"
    },
    {
      "name":"Side & Accent Tables",
      "link":"#!"
    },
    {
      "name":"Dining Tables",
      "link":"#!"
    },
    {
      "name":"Desks",
      "link":"#!"
    },
    {
      "name":"Bars & Bar Carts",
      "link":"#!"
    },
    {
      "name":"Beds & Headboards",
      "link":"#!"
    },
    {
      "name":"JA Baby",
      "link":"#!"
    }
  ];

-
  var slider = [
    {
      "title":"This is our big Tagline!",
      "subtitle":"Here's our small slogan.",
      "image":"http://tienda.fitoespinosa.com/dinamic/banner/general/banner__149054401420.png"
    },
    {
      "title":"This is our big Tagline!",
      "subtitle":"Here's our small slogan.",
      "image":"http://tienda.fitoespinosa.com/dinamic/banner/general/banner__1490545261151.jpg"
    }
  ];

-
  var footer = [
    {
      "title":"OUR COMPANY",
      "list":[
        {
          "name": "About",
          "link": "#!"
        },
        {
          "name": "Company Overview",
          "link": "#!"
        },
        {
          "name": "Store Locator",
          "link": "#!"
        },
        {
          "name": "Careers",
          "link": "#!"
        },
        {
          "name": "Catalog",
          "link": "#!"
        },
        {
          "name": "Sitemap",
          "link": "#!"
        }
      ]
    },
    {
      "title":"HELP & INFO",
      "list":[
        {
          "name": "Contact Us",
          "link": "#!"
        },
        {
          "name": "Shipping",
          "link": "#!"
        },
        {
          "name": "Returns",
          "link": "#!"
        },
        {
          "name": "Product Care",
          "link": "#!"
        },
        {
          "name": "Interior Design",
          "link": "#!"
        },
        {
          "name": "Trade Program",
          "link": "#!"
        }
      ]
    },
    {
      "title":"MY ACCOUNT",
      "list":[
        {
          "name": "Login / Register",
          "link": "#!"
        },
        {
          "name": "Gift Registry",
          "link": "#!"
        },
        {
          "name": "Gift Cards",
          "link": "#!"
        },
        {
          "name": "Order Tracking",
          "link": "#!"
        }
      ]
    },
    {
      "title":"CUSTOMER SERVICE",
      "list":[
        {
          "name": "For online orders: (800) 963-0891",
          "link": ""
        },
        {
          "name": "Order Fabric Swatches",
          "link": "#!"
        },
        {
          "name": "Wholesale",
          "link": "#!"
        },
        {
          "name": "Privacy Policy",
          "link": "#!"
        },
        {
          "name": "Terms of Use",
          "link": "#!"
        }
      ]
    },
    {
      "title":"NEAREST STORE",
      "list":[
        {
          "name": "You are more than 50 miles from the nearest store.",
          "link": ""
        }
      ]
    }
  ];

-
  var footerFito = [
    {
      "title":"SOBRE FITO ESPINOSA",
      "list":[
        {
          "name": "Web",
          "link": "#!"
        },
        {
          "name": "Bio",
          "link": "#!"
        },
        {
          "name": "Prensa",
          "link": "#!"
        },
        {
          "name": "Contáctanos",
          "link": "#!"
        },
        {
          "name": "T. +51 1 445 58 35 / +51 99 48 084",
          "link": "#!"
        }
      ]
    },
    {
      "title":"INFO",
      "list":[
        {
          "name": "Inicio de sesión / regístrate",
          "link": "#!"
        },
        {
          "name": "Lista de deseos",
          "link": "#!"
        },
        {
          "name": "Términos de uso",
          "link": "#!"
        },
        {
          "name": "Políticas de privacidad",
          "link": "#!"
        },
        {
          "name": "Preguntas frecuentes Faq",
          "link": "#!"
        }
      ]
    },
    {
      "title":"MI CUENTA",
      "list":[
        {
          "name": "Login / Register",
          "link": "#!"
        },
        {
          "name": "Lista de deseos",
          "link": "#!"
        },
        {
          "name": "Suscríbete para recibir novedades",
          "link": "#!"
        }
      ]
    }
  ];

-
  var footerfito2 = [
    {
      "title":"WEB FITO ESPINOSA",
      "list":[
        {
          "name": "Inicio",
          "link": "#!"
        },
        {
          "name": "Bio",
          "link": "#!"
        },
        {
          "name": "Prensa",
          "link": "#!"
        },
        {
          "name": "Galería 360°",
          "link": "#!"
        }
      ]
    },
    {
      "title":"SOBRE LA TIENDA ONLINE",
      "list":[
        {
          "name": "Preguntas frecuentes",
          "link": "#!"
        },
        {
          "name": "Términos de uso",
          "link": "#!"
        },
        {
          "name": "Políticas de privacidad",
          "link": "#!"
        }
      ]
    },
    {
      "title":"MI CUENTA",
      "list":[
        {
          "name": "Inicio de sesión / Regístrate",
          "link": "#!"
        },
        {
          "name": "Carrito",
          "link": "#!"
        },
        {
          "name": "Lista de favoritos",
          "link": "#!"
        },
        {
          "name": "Órdenes",
          "link": "#!"
        }
      ]
    },
    {
      "title":"SI LO TUYO ES COMPRAR PRESENCIALMENTE",
      "list":[
        {
          "name": "Encuentra aquí nuestros puntos de venta!",
          "link": ""
        }
      ]
    }
  ];

-
  var section = {
    "subtitle":"Otras novedades!",
    "title":"CARACAS DINING TABLE",
    "description":"te presentamos los nevos lanzamientos en nuestras líneas"
  };

-
  var sobrefito = {
    "subtitle":"Sobre Fito Espinosa",
    "title":"CARACAS DINING TABLE",
    "description":""
  };

-
  var eyes = {
    "subtitle":"Nuestras líneas de productos",
    "title":"EYE-CON MUGS",
    "description":"Stoneware homages to iconic eyewear."
  };

-
  var trending = {
    "subtitle":"CERÁMICA | PORCELANA",
    "title":"COASTER CACHET",
    "description":"Te presentamos las nuevas priezas recién salidas del taller."
  };



-
  var articles = [
    {
      "title":"MASTER CLEANSE COASTERS",
      "link":"#!",
      "image":"http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dwae0fc6ae/images/slot/homepage/110117_HolidayLaunch/coasters1.jpg"
    },
    {
      "title":"FULL DOSE COASTERS",
      "link":"#!",
      "image":"http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dwae0fc6ae/images/slot/homepage/110117_HolidayLaunch/coasters2.jpg"
    },
    {
      "title":"NEWPORT COASTERS",
      "link":"#!",
      "image":"http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dwae0fc6ae/images/slot/homepage/110117_HolidayLaunch/coasters3.jpg"
    }
  ];

-
  var products = [
    {
      "title":"Iris Guggenheim",
      "link":"product.html",
      "images":[/*{
          "link" : "source/img/product-2.jpg"
        },*/
        {
          "link" :  "source/img/product-2.jpg"
        }
      ]
    },
    {
      "title":"Mr & Mrs Turk",
      "link":"product.html",
      "images":[/*{
          "link" : "source/img/product-2.jpg"
        },*/
        {
          "link" :  "source/img/product-2.jpg"
        }
      ]
    },
    {
      "title":"Lolita Collins",
      "link":"product.html",
      "images":[/*{
          "link" : "source/img/product-2.jpg"
        },*/
        {
          "link" :  "source/img/product-2.jpg"
        }
      ]
    },
    {
      "title":"Run West",
      "link":"product.html",
      "images":[/*{
          "link" : "source/img/product-2.jpg"
        },*/
        {
          "link" :  "source/img/product-2.jpg"
        }
      ]
    }
  ];

-
  var desCategory = [
    {
      "name":"FURNITURE",
      "description":"Our commitment to outstanding design, impeccable materials, and unparalleled craftsmanship is at the core of everything we do.",
      "image": "source/img/mariposa.jpg",
      "link":"#!"
    },
    {
      "name":"Pinturas | Dibujos",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, expedita vel sunt dignissimos nihil voluptat",
      "image": "http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw8c47f7c9/images/slot/landing/Furniture%20LP/FurnitureSP17Furniture.jpg",
      "link":"#!",
      "buttons":[
        {
          "title":"Shop New Furniture",
          "link":"#!"
        }
      ]
    },
    {
      "name":"Grabados Giclée",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, expedita vel sunt dignissimos nihil voluptat",
      "image": "http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dwdb7f6e03/images/slot/landing/Furniture%20LP/FurnitureSP17Credenza.jpg",
      "link":"#!",
      "buttons":[
        {
          "title":"Shop New Furniture",
          "link":"#!"
        }
      ]
    },
    {
      "name":"Canvas",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, expedita vel sunt dignissimos nihil voluptat",
      "image": "http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw8c47f7c9/images/slot/landing/Furniture%20LP/FurnitureSP17Furniture.jpg",
      "link":"#!",
      "buttons":[
        {
          "title":"Shop New Furniture",
          "link":"#!"
        }
      ]
    },
    {
      "name":"Esferas",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, expedita vel sunt dignissimos nihil voluptat",
      "image": "http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw8c47f7c9/images/slot/landing/Furniture%20LP/FurnitureSP17Furniture.jpg",
      "link":"#!",
      "buttons":[
        {
          "title":"Shop New Furniture",
          "link":"#!"
        }
      ]
    },
    {
      "name":"Cerámica | Porcelana",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, expedita vel sunt dignissimos nihil voluptat",
      "image": "http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw8c47f7c9/images/slot/landing/Furniture%20LP/FurnitureSP17Furniture.jpg",
      "link":"#!",
      "buttons":[
        {
          "title":"Shop New Furniture",
          "link":"#!"
        }
      ]
    },
    {
      "name":"Libros | Discos",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, expedita vel sunt dignissimos nihil voluptat",
      "image": "http://demandware.edgesuite.net/aaox_prd/on/demandware.static/-/Sites/default/dw8c47f7c9/images/slot/landing/Furniture%20LP/FurnitureSP17Furniture.jpg",
      "link":"#!",
      "buttons":[
        {
          "title":"Shop New Furniture",
          "link":"#!"
        }
      ]
    }
  ];

-
  var items = [
    {
      "name":"Estrellas II",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/1.jpg",
      "price":"122"
    },
    {
      "name":"Agujero",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/2.jpg",
      "price":"122"
    },
    {
      "name":"ARCOÍRIS II",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/3.jpg",
      "price":"122"
    },
    {
      "name":"ALFOMBRA",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/4.jpg",
      "price":"122"
    },
    {
      "name":"CAPITÁN",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/5.jpg",
      "price":"122"
    },
    {
      "name":"ATERRIZAJE",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/6.jpg",
      "price":"122"
    },
    {
      "name":"BURBUJA",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/7.jpg",
      "price":"122"
    },
    {
      "name":"BURBUJA",
      "ruta":"product.html",
      "category":"Grabados Giclée",
      "image":"source/img/products/8.jpg",
      "price":"122"
    }
  ];